html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

#root, body, html {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

html {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
}

.App{
  flex:1;
  display:flex;
  flex-Direction: column;
  justify-Content:center;
  text-align: center;
  align-items: center;
  height:100%;
  width: 100%;
  margin: 0;
}
.App-header {
  background-color: rgb(100, 204, 108);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100vw;
}
input{
  border: 0;
  height: 5vh;
  width: 75vw;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 10%;
  background-color: #E9E9E9;
  border-radius: 5px;
}

.bot{
  background-color: #E9E9E9;
  color: #444044;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
  padding: 15px;
  max-width: 45vw;
  margin-top: 1vh;
  margin-right: auto;
  margin-left: 1vw;
}

.user{
  background-color: rgb(100, 204, 108);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px; 
  padding: 15px;
  margin-left: auto;
  max-width: 45vw;
  max-height: 3vw;
  margin-right: 1vw;
  margin-top: 1vh;
  display: flex;
  align-self: 'center'
}
.chat{
  width: 90%;
}
.historyContainer{
  height:75vh;
  overflow: scroll;
}

h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

.footerInput {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

.customButton{
  background-color: rgb(100, 204, 108);
  color: white;
  height: 5vh;
  border-radius: 5px;
  outline: none;
  border-style: none;
  text-transform: uppercase;
}